<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>Information</title>
</head>
<body>
    <h1>Here is some information on cyber security</h1>
    <p>put info here Oscar</p>
    <p>put info here Oscar</p>
    <p>put info here Oscar</p>
    <p>put info here Oscar</p>
    <p>put info here Oscar</p>
    <p>put info here Oscar</p>
    <p>put info here Oscar</p>
    <p>put info here Oscar</p>
    <p>put info here Oscar</p>
    <p>put info here Oscar</p>
    <p>put info here Oscar</p>
    <p>put info here Oscar</p>
    <p>put info here Oscar</p>
    <a href="/question1/"><button onclick="Init_Score()" >Begin!</button></a>
    <script src="/static/index.ts"></script>
</body>
</html>